@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import 'animate.css';
@import "swiper/css";
@import 'inclue.css';
/* body {
    font-family: 'Playfair Display', serif;
} */
.brandhub-full-screen-stage--has-header {
    height: calc(100vh - 80px);
    overflow: hidden;
    width: 100%;
}
/* .giang {
    box-shadow: inset 2px 2px 7px black, inset -2px -10px 20px black;
} */
@media screen and (min-width: 767px) {
    .md\:giang {
        box-shadow: inset 2px 2px 7px black, inset -2px -10px 20px black;
    }
}

.brandhub-full-screen-stage__media-container {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}
.brandhub-full-screen-stage__preview-video {
    /* display: block; */
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center bottom;
    object-position: center bottom;
    width: 100%;
}
.brandhub-full-screen-stage__media-container .img-responsive {
    bottom: 0;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center bottom;
    object-position: center bottom;
    position: absolute;
    width: 100%;
}
.brandhub-full-screen-stage__media-container .img-responsive.hidden {
    display: none!important;
}
.font-new {
    font-family: 'Playfair Display', serif;
}
.animation {
    -webkit-animation: fadeInFromBottom .75s .35s forwards;
    animation: fadeInFromBottom .75s .35s forwards;
    opacity: 0;
}
@keyframes fadeInFromBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateY(3rem);
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }   
}
.breadcrumb__item:last-child .breadcrumb__icon {
    display: none;
}

:root {
    --theme-primary: #00adef;
}
.breadcrumb__link {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    position: relative;
    -webkit-transition: color .16s;
    transition: color .16s;
    white-space: nowrap;
}
.breadcrumb__item:last-child .breadcrumb__link {
    color: var(--theme-primary);
    display: inline-block;
    margin-right: 0;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.has_video + .show_after_banner {
    height: 0;
    overflow: hidden;
}
.animation_content {
    -webkit-animation: show_content_banner 7s forwards;
    animation: show_content_banner 7s forwards;
    height: 0;
}
@keyframes show_content_banner {
    0% {
       /* height: 0; */
       height: auto;
    }
    /* 90% {
        height: 0;
    } */
    100% {
        height: auto;
    }
}


html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide {
    width: 80vw;
}
.tree-element {
    margin: 0;
    position: relative;
  }
  
  div.tree-element:before {
    content: '';
    position: absolute;
    top: 24px;
    left: 1px;
    height: calc(100% - 48px);
    border-left: 1px solid gray;
  }
  
  .toggler {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid gray;
    cursor: pointer;
  }
  
  .toggler.closed {
    transform: rotate(90deg);
  }
  
  .collapsed {
    display: none;
  }
/* img */
  .container-outer {
    width: 100%;
  }
  .brandhub-thumb-item {
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    float: left;
    overflow: hidden;
    position: relative;
    width: 25%;
}


@media (max-width: 1579px) {
    .brandhub-thumb-item {
        width: 33.3334%;
    }
}

.container-outer .brandhub-thumb-list {
    max-width: calc(85% - 30px);
}
.container-outer .brandhub-thumb-list .brandhub-thumb-item.brandhub-w-50 {
    width: 66.6666%;
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
    display: block;
    content: "";
}


.embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.brandhub-thumb-item-image-wrapper {
    height: 100%;
    max-height: 100%;
    position: relative;
    width: 100%;
}
.brandhub-thumb-item-image {
    display: block;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.btn-dark-2 {
    background: #333;
    background: -webkit-gradient(linear,left top,left bottom,from(#303030),to(#202020));
    background: linear-gradient(#303030,#202020);
    border-color: #202020;
    border-style: solid;
    border-width: 1px;
    color: #999;
    line-height: 20px;
    padding: 6px 20px
}

.brandhub-thumb-item-overlay {
    background: rgba(0,0,0,.35);
    bottom: 0;
    height: 50px;
    left: 0;
    overflow: hidden;
    padding: 13px 31px 13px 31px;
    position: absolute;
    -webkit-transition: height .5s,background 1.5s;
    transition: height .5s,background 1.5s;
    width: 100%;
    z-index: 15;
}
.brandhub-thumb-item-overlay .brandhub-thumb-item-headline {
    color: #fff;
    font-family: MBCorpo AScreen1Cond,MBCorpo Title,DaimlerCAC-Regular,Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    width: 100%;
}
@media (min-width: 48em) {
    .brandhub-thumb-item-overlay .brandhub-thumb-item-headline {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.brandhub-thumb-item-overlay .description {
    color: #fff;
    line-height: 18px;
    margin-top: 2px;
    opacity: 0;
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    font-size: 18px;
    font-weight: 300;
}
@media (min-width: 48em) and (max-width: 1579px) {
    .brandhub-thumb-item.brandhub-w-50:hover .brandhub-thumb-item-overlay {
        height: 25%;
    }
}

@media (min-width: 48em) {
    .variant-thumbs-with-text-overlay .brandhub-thumb-item.brandhub-w-50:hover .brandhub-thumb-item-overlay {
        height: 25%;
    }
     .brandhub-thumb-item:hover .brandhub-thumb-item-overlay .description {
        opacity: 1;
    }
    .brandhub-thumb-item:hover .brandhub-thumb-item-overlay {
        background: rgba(0,0,0,.7);
        height: 50%;
    }
}


