.image-wrapper {
    height: 100%;
    max-height: 100%;
    position: relative;
    width: 100%;
}
.before_pb-12 {
    padding-top: 100%;
    display: block;
    content: "";
}
.image-wrapper .responsive-item  {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}